/vendor
/node_modules
/public/hot
/.env
/.env.*
/storage
/nbproject
/storage/*.key
/storage/*.log
/public/storage
/public/videos
/public/pdf
/public/media
/storage/debugbar
/storage/app
/storage/framework
/storage/logs
/.idea
/.vscode
*.log
*.zip
*.sqlite
.DS_Store
Thumbs.db
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.vs